*	{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

body	{
	background-color: orangered;
	text-align: center;
}

nav	{
	background-color: #918c7c;
	padding: 1rem;
	height: 5rem;
}

.header	{
	display: inline-block;
	float: right;
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 1.8rem;
	margin-top: 0.7rem;
}

.portfolio	{
	font-size: 2.5rem;
	float: left;
	color: black;
	background-color: #918c7c;
	text-decoration: none;
}

.home	{
	padding-left: 1rem;
	padding-right: 1rem;
	color: white;
	background-color: #918c7c;
	text-decoration: none;
}

.right	{
	padding-left: 1rem;
	padding-right: 1rem;
	color: black;
	background-color: #918c7c;
	text-decoration: none;
}

h1	{
	margin-top: 20rem;
	margin-bottom: 3rem;
	border: 5px solid white;
	width: 40vw;
	height: ;
	position: relative ;
	padding: 4rem;
	left: 30%;
	border-radius: 25px;
}

h2	{
	margin-bottom: 2rem;
}

button	{
	font-size: 2rem;
	background-color: white;
	border: 0;
	padding: 15px 20px;
	border-radius: 10px;
	color: darkred;
}